In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data1 = pd.read_csv("../data/raffle_entries_sampled_data.csv")

In [87]:
data1[data1.duplicated(keep = False)].shape[0]

147

In [89]:
data1[data1.duplicated()].shape[0]

74

In [95]:
data1.drop_duplicates(inplace = True)
data1.reset_index(drop = True, inplace = True)

In [97]:
data1.isna().sum()

PaymentType            0
DonationAmount         0
GiftAidAmount        926
DateEnteredRaffle      0
UniqueId               0
dtype: int64

In [99]:
data1.shape

(926, 5)

In [107]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PaymentType        926 non-null    object
 1   DonationAmount     926 non-null    float64
 2   GiftAidAmount      0 non-null      float64
 3   DateEnteredRaffle  926 non-null    datetime64[ns]
 4   UniqueId           926 non-null    object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 36.3+ KB

In [108]:
data1["UniqueId"].nunique()

910

In [126]:
data1["PaymentType"].unique()

array(['O', 'C', 'Q', 'E'], dtype=object)

In [127]:
data1["PaymentType"].value_counts()

Q    686
E    196
O     40
C      4
Name: PaymentType, dtype: int64

In [128]:
data1["DonationAmount"].unique()

array([ 6., 12.,  5., 25., 36., 10., 24., 17., 20.,  3., 15., 50., 30.,
       14., 18., 11.,  4.,  8.,  1.,  2., 16., 23., 33., 13., 22.])

In [130]:
data1["DonationAmount"].value_counts()

12.0    383
6.0     187
24.0    111
5.0      86
36.0     42
10.0     30
14.0     15
20.0     11
15.0     10
3.0       9
1.0       8
11.0      6
2.0       6
8.0       4
4.0       4
30.0      3
25.0      2
22.0      2
18.0      1
50.0      1
17.0      1
16.0      1
23.0      1
33.0      1
13.0      1
Name: DonationAmount, dtype: int64

In [123]:
filtered_data = pd.DataFrame(data1["UniqueId"].value_counts()).reset_index().rename(columns = {
    "index":"UniqueId",
    "UniqueId":"Count"
})

filtered_data[filtered_data["Count"]>1 ]

                                UniqueId  Count
0   28c25cfa-443d-11ef-b4f6-6045bdd1caa7      2
1   28c0a450-443d-11ef-b4f6-6045bdd1caa7      2
2   28c122ea-443d-11ef-b4f6-6045bdd1caa7      2
3   28bf8f20-443d-11ef-b4f6-6045bdd1caa7      2
4   28c00176-443d-11ef-b4f6-6045bdd1caa7      2
5   28c08236-443d-11ef-b4f6-6045bdd1caa7      2
6   28c2db58-443d-11ef-b4f6-6045bdd1caa7      2
7   28c32d10-443d-11ef-b4f6-6045bdd1caa7      2
8   28c1ed88-443d-11ef-b4f6-6045bdd1caa7      2
9   28c2f674-443d-11ef-b4f6-6045bdd1caa7      2
10  28c15b48-443d-11ef-b4f6-6045bdd1caa7      2
11  28c07868-443d-11ef-b4f6-6045bdd1caa7      2
12  28c1f3fa-443d-11ef-b4f6-6045bdd1caa7      2
13  28c07246-443d-11ef-b4f6-6045bdd1caa7      2
14  28c24a58-443d-11ef-b4f6-6045bdd1caa7      2
15  28c05d88-443d-11ef-b4f6-6045bdd1caa7      2

In [124]:
data1[data1["UniqueId"] == "28c25cfa-443d-11ef-b4f6-6045bdd1caa7"]

,PaymentType,DonationAmount,GiftAidAmount,DateEnteredRaffle,UniqueId
127,Q,12.0,NaN,2022-01-27,28c25cfa-443d-11ef-b4f6-6045bdd1caa7
760,Q,12.0,NaN,2022-02-15,28c25cfa-443d-11ef-b4f6-6045bdd1caa7

In [134]:
data1.drop("GiftAidAmount", axis = 1, inplace = True)

In [135]:
data1.head()

,PaymentType,DonationAmount,DateEnteredRaffle,UniqueId
0,O,6.0,2022-01-07,28c13262-443d-11ef-b4f6-6045bdd1caa7
1,O,12.0,2022-01-07,28bfd9c6-443d-11ef-b4f6-6045bdd1caa7
2,O,12.0,2022-01-07,28c29c6a-443d-11ef-b4f6-6045bdd1caa7
3,O,12.0,2022-01-07,28c13fb4-443d-11ef-b4f6-6045bdd1caa7
4,O,5.0,2022-01-07,28c18a32-443d-11ef-b4f6-6045bdd1caa7

In [3]:
data2 = pd.read_csv("../data/raffle_mailings_sample_data.csv")

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PaymentType        1000 non-null   object
 1   DonationAmount     1000 non-null   float64
 2   GiftAidAmount      0 non-null      float64
 3   DateEnteredRaffle  1000 non-null   object
 4   UniqueId           1000 non-null   object
dtypes: float64(2), object(3)
memory usage: 39.2+ KB

In [6]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RaffleMailingDate  1000 non-null   object
 1   Title              972 non-null    object
 2   Gender             953 non-null    object
 3   RecruitmentSource  999 non-null    object
 4   LotteryPlays       47 non-null     float64
 5   UniqueId           1000 non-null   object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

In [141]:
data2[data2.duplicated(keep = False)]

Empty DataFrame
Columns: [RaffleMailingDate, Title, Gender, RecruitmentSource, LotteryPlays, UniqueId]
Index: []

In [142]:
data2["UniqueId"].nunique()

1000

In [144]:
data2["LotteryPlays"].value_counts()

92.0     5
81.0     3
1.0      3
80.0     3
77.0     3
10.0     2
8.0      2
24.0     2
82.0     1
176.0    1
4.0      1
51.0     1
50.0     1
69.0     1
171.0    1
68.0     1
86.0     1
89.0     1
26.0     1
156.0    1
85.0     1
84.0     1
22.0     1
174.0    1
158.0    1
67.0     1
18.0     1
7.0      1
20.0     1
3.0      1
98.0     1
83.0     1
Name: LotteryPlays, dtype: int64